.app {
  /* background-color: lightcoral; */
}

.header {
  justify-content: center;
  background-color: blue;
  margin: 3em;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  padding: .5em;
}

.bank-accounts {
  justify-content: center;
  display: flex;
}
  